[2017-04-06 08:17] chenweiqian opened #1 "代码哪块位置是写CRNN的"
你好，我找了代码，但是没找到这块的代码。希望你能指点一下！谢谢！ @xiaodiu2010

[2017-04-06 17:22] xiaodiu2010 commented on #1
抱歉，目前只重现了SSD部分，还未加入RCNN部分。

[2017-04-07 11:15] chenweiqian commented on #1
好的，谢谢你的回答！^_^

[2017-04-13 05:50] chenweiqian commented on #1
@xiaodiu2010  是否目前还无多尺度的版本？

[2017-04-18 00:53] xiaodiu2010 commented on #1
500*500?

[2017-04-18 00:56] chenweiqian commented on #1
yes

[2017-04-18 01:01] xiaodiu2010 commented on #1
原理是一样的，代码只要稍微修改下，原论文只用300来训练
chenweiqian <notifications@github.com>于2017年4月17日 周一20:56写道：

[2017-04-18 01:09] chenweiqian commented on #1
单个的可以。一次的那种多尺度输入不知道该如何下手。

[2017-04-21 01:03] JcmeLs opened #2 "关于数据集"
你好，我想问下能提供下ICDAR2013下载地址吗？找不到下载地址了。。。

[2017-04-21 01:07] xiaodiu2010 commented on #2
http://dagdata.cvc.uab.es/icdar2013competition/?ch=1&com=downloads
You need to register to get access to datasets.

[2017-04-21 01:12] JcmeLs commented on #2
@xiaodiu2010 It seems to be unable to register.

[2017-04-21 01:14] xiaodiu2010 commented on #2
http://rrc.cvc.uab.es/?ch=2&com=downloads

[2017-04-21 01:19] JcmeLs commented on #2
THX~

[2017-06-16 03:12] 100200cs opened #3 "训练错误：TypeError: Expected int32, got 3.0 of type 'float' instead."
file_path: ./data/ICDAR2013/*.tfrecord
{'global': <tf.Tensor 'clone_0/text_box_300/global/conv3x3/Relu:0' shape=(8, 256, 1, 1) dtype=float32>, 'conv3': <tf.Tensor 'clone_0/text_box_300/conv3/conv3_3/Relu:0' shape=(8, 256, 75, 75) dtype=float32>, 'conv2': <tf.Tensor 'clone_0/text_box_300/conv2/conv2_2/Relu:0' shape=(8, 128, 150, 150) dtype=float32>, 'conv1': <tf.Tensor 'clone_0/text_box_300/conv1/c

[2017-06-16 03:16] xiaodiu2010 commented on #3
Sorry for that. This bug is fixed. Please pull the new code.

[2017-06-16 03:31] 100200cs opened #4 "楼主，你能给一下详细的训练步骤吗？"
按照你的说明，下了数据集，但是还是不知道解压到哪里，文件夹名字怎么改。按你给的训练方法后，出现了一些bug，希望楼主能完善一下，谢谢！

[2017-06-16 03:54] xiaodiu2010 commented on #4
Hi, sorry for the confusion.
I uploaded a new instruction.  Basically, you just need to prepare your dataset before training.
If you run into some bugs, pls paste them on forums and I will check them.

[2017-06-16 04:02] 100200cs commented on #4
Thank you a lot! 后面有问题我还是用英语跟楼主交流吧~~

[2017-06-16 13:53] 100200cs opened #5 "a bug in command line for training from checkpoint model"
--optimizer=momentum should be added in command ,or it will be can not training

CUDA_VISIBLE_DEVICES=0 python Textbox_train.py \
	--train_dir=${TRAIN_DIR} \
	--dataset_dir=${DATASET_DIR} \
	--save_summaries_secs=60 \
	--save_interval_secs=1800 \
	--weight_decay=0.0005 \
	--**optimizer=momentum** \
	--learning_rate=0.001 \
	--batch_size=8 \
	--num_samples=800000 \
	--gpu_memory_fraction=0.95 \
	--

[2017-06-16 15:17] xiaodiu2010 commented on #5
The default optimizer is rmsprop. You may change it to momentum if you like.

[2017-06-17 12:59] 100200cs commented on #5
I　know why this bug appears. Because I trained an old model in same log path, a old checkpoint uses momentum as optimizer,when I train a new model ,it will fine-tune from old model, so the bug that can not find rmsprop in checkpoint is happened.@xiaodiu2010

[2017-06-17 13:01] 100200cs commented on #5
delete old checkpoint or change path of log will fix this bug

[2017-06-22 14:08] 100200cs opened #6 "Default MaxPoolingOp only supports NHWC, bug appeared when I predict bbox on CPU."
With runing your jupyter script Textbox_eval.ipynb onGPU, I got right predicted result. But when run it on CPU, it failed.

InvalidArgumentError: Default MaxPoolingOp only supports NHWC.
	 [[Node: text_box_300/pool1/MaxPool = MaxPool[T=DT_FLOAT, data_format="NCHW", ksize=[1, 1, 2, 2], padding="SAME", strides=[1, 1, 2, 2], _device="/job:localhost/replica:0/task:0/cpu:0"](text_box_300/conv1/conv1_2/

[2017-06-22 17:03] 100200cs commented on #6
Maybe for Maxpooling Iayer ON CPU, tensorflow just support NHWC format. I have trained net in NHWC ,and now it can test net on CPU successfully.

[2017-06-22 17:09] xiaodiu2010 commented on #6
Cudnn support NCWH for default. So train with NCWH will promote the speed. For evaluation part, It only supports the same format you used for training. But you can change it to support any format. I haven't done that.
How about the results? What's the MAP on your own datasets?

[2017-06-23 06:35] 100200cs commented on #6
I have trained sythtext 100K steps, loss is about 3.5, mAP is about 0.42 . I have just on GPU Tesla P100, batch size is 16 and use_BN @xiaodiu2010

[2017-06-23 06:47] xiaodiu2010 commented on #6
A new augmentation pipeline is uploaded and some bugs are fixed.  This new pipeline is similar to original paper one.  You can train your model with the new code(suggested).

[2017-06-23 06:49] tumusudheer commented on #2
Hi,

I can not download ICDAR 2013 dataset from either links above. As @JcmeLs  mentioned, I can not register in ICDAR2013 site. [http://rrc.cvc.uab.es/?ch=2&com=downloads](url) is unreachable. Would it be possible to let me know how to get ICDAR2013 data ?

Thanks in advance.

[2017-06-23 06:52] xiaodiu2010 commented on #2
http://rrc.cvc.uab.es/?ch=2&com=evaluation&task=1  All datasets are moved to this site. However, this server is down from yesterday, you may need to wait for a few days.

[2017-06-23 07:23] tumusudheer commented on #2
Thank you very much @xiaodiu2010. Can I download ICDAR 2011 dataset from the same website [http://rrc.cvc.uab.es](url) as well ? I think in the original paper the authors have mentioned on training on 2011 images as well.

Thank you.

[2017-06-23 12:54] 100200cs commented on #6
OK, and what about your performance? What's your best mAP on ICDAR2013-Test dataset.

[2017-06-23 16:10] tumusudheer opened #7 "Providing Trained Model"
Hi @xiaodiu2010,

Would it be possible to upload your trained model (~ 150 iterations on sythtext) ?

Thanks in advance !

[2017-06-23 19:00] tumusudheer opened #8 "Train_single_gpu.py is causing an error"
Hi,

I'm running training using Train_single_gpy.py as Textbox_train.py is running very slow on training (each step is taking ~ 2sec on synthtext). Not sure if Textbox_train.py is  running the training on CPU or GPU.

The Error I'm getting is
**ValueError: Negative dimension size caused by subtracting 3 from 1 for 'text_box_300/global/conv3x3/convolution' (op: 'Conv2D') with input shapes: [8,1,3,1

[2017-06-23 19:14] xiaodiu2010 commented on #8
Train_single_gpu.py is deprecated. So please use Textbox_train.py for training. The speed is actually normal under SSD framework. The speed is about 1.6 sec/step using pytorch  and 1.9 sec/step under tensorflow if batch size is 32.  You may try different num_readers and threads for better performance according to your system configuration.

[2017-06-23 21:39] tumusudheer commented on #8
Hi @xiaodiu2010 ,

Thank you very much. Does Textbox_train.py train using GPU with the following command:
CUDA_VISIBLE_DEVICES=0 setsid python Train_single_gpu.py
--train_dir=${TRAIN_DIR}
--dataset_dir=${DATASET_DIR}
--save_summaries_secs=60
--save_interval_secs=1800
--weight_decay=0.0005
--learning_rate=0.001
--batch_size=8
--num_samples=800000
--gpu_memory_fraction=0.82
--max_number_of_steps=500

[2017-06-23 21:45] xiaodiu2010 commented on #8
Yes, this will use GPU for training. And the num_clones should have the same value with your GPU number. In your case, it should be 1.
The old checkpoint may not compatible with current code. I will put the latest checkpoint ASAP.

[2017-06-23 22:00] xiaodiu2010 commented on #6
On ICDAR13, I got 76% MAP best.  It is still far away from the result of the paper. The performance on the small object is very bad which pulls down the overall result. So I design this new pipeline and hope it works.

[2017-06-24 00:13] tumusudheer commented on #8
Hi @xiaodiu2010 ,

Thank you very much. I started training with the following command:
CUDA_VISIBLE_DEVICES=0 setsid python Textbox_train.py \
	--train_dir=${TRAIN_DIR} \
	--dataset_dir=${DATASET_DIR} \
	--save_summaries_secs=60 \
	--save_interval_secs=1800 \
	--weight_decay=0.0005 \
	--learning_rate=0.001 \
	--batch_size=16 \
	--num_samples=800000 \
	--gpu_memory_fraction=0.42 \
	--max_number_of_

[2017-06-24 02:45] tumusudheer commented on #8
Hi @xiaodiu2010,

I see that loss is decreasing very slowly after 1500-2000 iterations on sythtext. My loss is around 6.x @ ~2000 iterations and around 5.5 @  ~15k iterations ? Is it common for loss to decrease very slowly after 1500-2000 iterations  on this model ? Did you experience the same?

Thank you.

[2017-06-24 05:27] 100200cs commented on #6
I just got 42% mAP~~~~,I should train again .....

[2017-06-24 05:54] xiaodiu2010 commented on #8
The loss will drop quickly at first. Then it will drop very slowly. Also, this new pipeline makes many augmentations. So it would take longer time converging.
This project is still under development. So please pull the latest code each time you start training.

[2017-06-24 06:08] xiaodiu2010 commented on #6
This new pipeline is not tested yet. So I can't guarantee it would work better than former model.
Also, the best model in the paper is the one with input size (700, 700). This is only 300*300 version.
You may need to fine_tune the model for different scales and apply multi-scale nms(more refer to paper.)  to get best performance.
I have uploaded the text_box_700 script. So please pull the latest c

[2017-06-25 00:41] 100200cs commented on #6
I have trained again with vgg check point. I use 16 batch size, default optimizer, net size 300x300, train sythtext 200K steps, I still get 42% as my best mAP,(ಡωಡ) .What is your parameters config when you got mAP more than 70%，net input size?batch size?optimizer?how many steps?

[2017-06-25 00:41] 100200cs commented on #6
I have trained again with vgg check point. I use 16 batch size, default optimizer, net size 300x300, train sythtext 200K steps, I still get 42% as my best mAP,(ಡωಡ) .What is your parameters config when you got mAP more than 70%，net input size?batch size?optimizer?how many steps?

[2017-06-25 00:43] 100200cs commented on #6
by the way, I trained it on old code.

[2017-06-26 04:10] xiaodiu2010 commented on #6
You may try new code. I run a test today. For now, MAP is 70% and It would be better after fine-tuning on ICDAR datasets with 300*300 and 700*700.

[2017-06-26 04:11] xiaodiu2010 commented on #6
All configurations follow the ones in the paper except you can use BN.

[2017-06-26 11:57] 100200cs commented on #6
Thank you so much! I will try again with new code.

[2017-06-27 01:07] tumusudheer commented on #8
Hi @xiaodiu2010,

Thank you very much. I checked out the new code and ran the training on sythtext over the weekend. With batch_size=32, I ran around 160k iterations and the loss was ~2.3 at the end of 160k iterations. Did you experience the same loss ?

With that 160k model, I ran evaluation on ICDAR 2013 test dataset and I was getting mAP = 0.62x. Please let me know if it seems correct or you go

[2017-06-27 01:30] xiaodiu2010 commented on #8
Yes, fine-tune will give better performance. I run a test yesterday. If fine-tune on 700 scales, It will give about 76% MAP. Multi-scale will give about over 83% MAP. Which is good enough for testing.
You may check eval.py code and evl.ipython notebook for your purpose.

[2017-06-27 02:14] tumusudheer commented on #8
Hi @xiaodiu2010,

Thank you very much. I'll check eval.py and Textbox_eval.ipynb file under Notes folder. How do I enable or do training with Multi-scale ?  Is there a flag I have to turn on to train with Multi-scale? I ran your latest code to train with the default command you provided with use_batch=True. In this case, what is the default scale(s) I trained on ?

[2017-06-27 09:08] tumusudheer commented on #8
Hi @xiaodiu2010,

Thank you very much. With the help of evl.ipython notebook, I was able to write a script to run the model to test a single image. The results are very promising. I'm attaching a sample results and my script in case you want to tell me if I'm doing something wrong or want to check in for future users.  I'm sure the results will be improved with more finetuning. I've used he follow

[2017-06-27 09:19] tumusudheer commented on #6
Hi @100200cs,

I also ran the training ( on sythtext data) with batch_size = 16 with around ~240k iterations and mAP is ~ 48%. But with batch_size = 32 and around 165k iterations I got mAp = ~62 on ICDAR test set.

These are parameters I used for training with the latest code.
TF_ENABLE_WINOGRAD_NONFUSED=1 CUDA_VISIBLE_DEVICES=0 setsid python Textbox_train.py \
	--train_dir=${TRAIN_DIR} \
	--datas

[2017-06-27 10:34] 100200cs commented on #8
Hi @tumusudheer
You said you trained new code 160K steps and got 2.3 loss and more than 60% mAP, this result is just train with sythtext dataset?I train sythtext more than 80K steps,batch size 32,use BN,now,and loss is about 3.0 ,mAP is just 27%. What is your loss and mAP when you train 80K steps?

[2017-06-27 11:02] 100200cs commented on #6
@tumusudheer Thanks I wiil try again

[2017-06-27 14:25] tumusudheer commented on #8
Hi @100200cs,

My loss @ ~80k iterations is around oscillating between 2.8 - 3.0. I guess your training is going good. I'm using the following command to compute evaluation metric on ICDAR 2013 test data.
CHECKPOINT_PATH=./logs/train/model.ckpt-82693
EVAL_DIR=./logs/eval
DATASET_DIR=./data/ICDAR2013/test
CUDA_VISIBLE_DEVICES=0 setsid python eval.py \
    --eval_dir=${EVAL_DIR} \
    --dataset_dir=

[2017-06-27 14:43] tumusudheer commented on #8
Hi @xiaodiu2010,

When I run the same evaluation command (say eg: the following one) multiple times, I'm not getting same mAP value always. Sometimes the mAP value is varying. Is this the correct behavior ? Does it mean the bounding box predictions on an image changes every time you test the model on an image ?

CHECKPOINT_PATH=./logs/train/model.ckpt-82693
EVAL_DIR=./logs/eval
DATASET_DIR=./data/

[2017-06-27 21:41] tumusudheer commented on #8
Hi @xiaodiu2010,

I'm going to finetune my model with ICDAR 2013 train data. Can you tell me what should be **checkpoint_model_scope** value in the command to start finetuning ?

[code]

Thanks in advance.

[2017-06-27 21:56] tumusudheer commented on #8
Hi @xiaodiu2010 ,

As per this line [https://github.com/xiaodiu2010/TextBoxes-TensorFlow/blob/master/Textbox_train.py#L182](url), I guess we do not need to pass checkpoint_model_scope since I am training the same model. So the final command would be
[code]
Please correct me If I'm wrong. Also, it would be great if you can tell how to test on multiple scales or how to fine_tune the model for differ

[2017-06-28 08:39] 100200cs commented on #8
Hi @tumusudheer
I trained it again more than 130K steps,but still got 0.27mAP. I test some images,and I found small text was been dectectted well, but big text was not been dectectted. So I gauss this is bad training. Could you please send me your trained checkpoints,I dont want to train again ,just want finetune. My email    cs361@qq.com

[2017-06-29 06:33] tumusudheer commented on #8
Hi @100200cs ,

I'll upload my model and provide you a download link soon. Just to confirm, when you run evaluation multiple times, are you getting same mAP value always or do the mAP values vary slightly each time you run the evaluation ?

[2017-06-29 09:04] 100200cs commented on #8
@tumusudheer OK,I'll test mAP multiple times and tell you testing result.

[2017-06-29 09:28] tumusudheer commented on #8
Hi @100200cs ,

Please download my model from this link: https://www.dropbox.com/s/lyz6img7r5lxtz9/model_to_share.tar.gz?dl=0

Please let me know if the link doesn't work or if you have any issues running this. It is trained on Synthtext for around 160k iterations on batch_size=32.

[2017-06-29 14:10] 100200cs commented on #8
Hi @tumusudheer
Thank you for your share model. I have run evaluation multiple times, both on ICDAR2013_Test.tfrecord and ICDAR2013_Train.tfrecord. For ICDAR test dataset, I ran three times and got mAP 0.4749 ,0.4744 and 0.4838 . For ICDAR train dataset, I also ran three times, got mAP 0.5485 , 0.5691 and 0.5751. Now, I guess maybe it is caused by NHWC data-format. Because NCHW format dose not  su

[2017-07-05 04:14] jichilen opened #9 "What is the use of wait_for_checkpoints"
when i set the parameter True, the job will pause and it seems to wait for something.
How can i keep it going?
Or what i need to do is to set the parameter False?

[2017-07-07 06:14] tumusudheer commented on #9
Hi @jichilen,
If you set wait_for_checkpoints= true in the eval step, I guess the evaluation will be run for each checkpoint model the training produce in the train_result directory.

[2017-07-07 07:15] tumusudheer commented on #8
Hi @xiaodiu2010 ,

May I know how to finetune my model on 700-scales ? It seems Textbox_train.py is using multiplier_300.pkl currently. so I guess I need to replace that with multiplier_700.pkl ? Is that sufficient to start finetuning on 700-scales or do I need to do any additional steps ?

Also I don't see multiplier_700.pkl file in nets/ folder, can you let me know how to generate multiplier_700

[2017-07-08 21:30] xiaodiu2010 commented on #8
@tumusudheer  you can write your own pkl file according to your variables' name. Just refer to 300.pkl.

[2017-07-17 06:33] tumusudheer commented on #8
Hi @xiaodiu2010,

Thank you very much. I'll refer to 300.pkl to define my own .pkl file. I'm trying to export the inference graph from my trained model to run feed forward in tensorflow C++ API (similar to [https://github.com/tensorflow/models/blob/master/slim/export_inference_graph.py](url)

To freeze the graph, I need to know the output node names from the graph. I'm trying to figure out the out

[2017-07-17 17:38] rayush7 opened #10 "Performance in Comparison to Caffe Textboxes"
Hi @xiaodiu2010

Thanks for the tensorflow implementation of textboxes. However did you compare your model's performance on datasets like ICDAR 2011/13 with figures provided by the author of textboxes [original paer.](https://arxiv.org/pdf/1611.06779.pdf) in terms of f-measure? Is the performance comparable?

[2017-07-18 13:48] halaneji commented on #10
i have this error can you tell me what is the problem and how  i can fix this problem
Traceback (most recent call last):
  File "data2record.py", line 120, in <module>
    run()
  File "data2record.py", line 114, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imname,coder)
  File "data2record.py", line 64, in _processing_image
    image_data = tf.gfile.GFile(FLAGS.dat

[2017-07-18 13:48] halaneji commented on #9
i have this error can you tell me what is the problem and how  i can fix this problem
Traceback (most recent call last):
  File "data2record.py", line 120, in <module>
    run()
  File "data2record.py", line 114, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imname,coder)
  File "data2record.py", line 64, in _processing_image
    image_data = tf.gfile.GFile(FLAGS.dat

[2017-07-18 13:49] halaneji commented on #5
i have this error can you tell me what is the problem and how  i can fix this problem
Traceback (most recent call last):
  File "data2record.py", line 120, in <module>
    run()
  File "data2record.py", line 114, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imname,coder)
  File "data2record.py", line 64, in _processing_image
    image_data = tf.gfile.GFile(FLAGS.dat

[2017-07-18 13:50] halaneji commented on #6
i have this error can you tell me what is the problem and how  i can fix this problem
Traceback (most recent call last):
  File "data2record.py", line 120, in <module>
    run()
  File "data2record.py", line 114, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imname,coder)
  File "data2record.py", line 64, in _processing_image
    image_data = tf.gfile.GFile(FLAGS.dat

[2017-07-18 13:50] halaneji commented on #4
i have this error can you tell me what is the problem and how  i can fix this problem
Traceback (most recent call last):
  File "data2record.py", line 120, in <module>
    run()
  File "data2record.py", line 114, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imname,coder)
  File "data2record.py", line 64, in _processing_image
    image_data = tf.gfile.GFile(FLAGS.dat

[2017-07-18 13:58] halaneji commented on #3
i have this error can you tell me what is the problem and how  i can fix this problem
Traceback (most recent call last):
  File "data2record.py", line 120, in <module>
    run()
  File "data2record.py", line 114, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imname,coder)
  File "data2record.py", line 64, in _processing_image
    image_data = tf.gfile.GFile(FLAGS.dat

[2017-07-27 13:00] w5688414 opened #11 "error happens when I want to run Textbox_train.py,UnicodeDecodeError: 'ascii' codec can't decode byte 0xe4 in position 0: ordinal not in range(128)`"
here is my command:

`CHECKPOINT_PATH=checkpoints/vgg_16.ckpt
TRAIN_DIR=datasets/tfmodel

CUDA_VISIBLE_DEVICES=0 setsid python Textbox_train.py \
	--train_dir=${TRAIN_DIR} \
	--dataset_dir=${DATASET_DIR} \
	--save_summaries_secs=60 \
	--save_interval_secs=1800 \
	--weight_decay=0.0005 \
	--learning_rate=0.001 \
	--batch_size=8 \
	--num_samples=231 \
	--gpu_memory_fraction=0.42 \
	--max_number_of_s

[2017-08-02 09:45] xuxiang0408 opened #12 "why the training loss decreased very slowly?"
When I trained on SynthText data, the loss decreased very slowly and vibrated near 6.0. I tried to decrease the lr, but no help. Any suggestion?

[2017-08-02 11:08] xiaodiu2010 commented on #12
Can you list details in your experiment, batch size, lr , etc...? thanks.

[2017-08-02 12:49] hellotf commented on #12
batch size = 8, lr = 0.0001 and use_batch = True

[2017-08-02 13:20] junedgar opened #13 "Did you synthesize the datasets youself or use some existing datasets？"
Thank you for your great work!
I want to synthesize the datasets by myself, but the synthetic image unnatural。
If you generated the dataset yourself, can  you share the idea for me?
Thank you!

[2017-08-02 19:56] xiaodiu2010 commented on #13
Hi,
	You may refer the generation algorithm for Sythtext datasets. You can find the manual on dataset website.

[2017-08-02 19:57] xiaodiu2010 commented on #12
batch_size it too small. you may try bs = 32 or higher. If you have limited power to do this, you may low your lr to 0.0001/4 or smaller.

[2017-08-03 00:41] hellotf commented on #12
OK, I'll try the smaller lr. Thx:)

[2017-08-03 02:49] hellotf commented on #12
my machine power is too weak....Is it possible that you give a link for your pretrained model on synthtext data?

[2017-08-09 06:25] Tian14267 opened #14 "在运行 data2record.py出了问题，请问可以帮忙解决下吗？"
My error is here:
" File "data2record.py", line 121, in <module>
    run()
  File "data2record.py", line 115, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imname,coder)
  File "data2record.py", line 64, in _processing_image
    image_data = tf.gfile.GFile(FLAGS.datasets + imname, 'r').read()
  File "/home/tian/tensorflow/lib/python3.5/site-packages/tensorflow/python

[2017-08-09 19:20] xiaodiu2010 commented on #14
This is a problem of your system and python environment. But I can't help more because I can't reproduce this error.

[2017-08-10 01:09] hellotf commented on #8
Hi @tumusudheer，Thanks for your pretrained model. I tried to fine-tuning using ICDAR2013 dataset, the loss is still 2.x after 2w steps. batch_size = 16, use_batch = True. Any comments or suggestion?

[2017-08-10 01:58] hellotf commented on #14
@Tian14267 Maybe you can check your gt files first. Does the .txt file start with a BOM?

[2017-08-10 08:29] Tian14267 commented on #14
@xiaodiu2010  That is very regret. My python is 3.5, and tensorflow is 1.2. Ubuntu is 16.04 LTS.

@hellotf My gt.mat is seems normal. It has files " charBB,wordBB,imnames,txt", ...

[2017-08-10 09:45] Tian14267 commented on #14
@xiaodiu2010 @hellotf   I remove the " .read()" in this line " image_data = tf.gfile.GFile(FLAGS.datasets + imname, 'r').read() ", and it passed,but I get a now error,the next line is error:"Traceback (most recent call last):
  File "data2record.py", line 125, in <module>
    run()
  File "data2record.py", line 119, in run
    image_data, shape, bbox, label ,imname= _processing_image(wordbb, imnam

[2017-08-11 00:35] hellotf commented on #14
@Tian14267 I think you can try py2.

[2017-08-14 20:55] xiaodiu2010 commented on #10
Hi @rayush7 ,
Sorry for delay reply. I run a test on this model and got 82% F-measure Score and 85% precision score on single scale input. This is compatible to the result of the original paper.

[2017-08-17 03:44] clgocn opened #15 "CPU BiasOp only supports NHWC."
With runing your jupyter script Textbox_eval.ipynb onGPU, I got error.

Caused by op u'text_box_300/conv1/conv1_1/BiasAdd', defined at:

InvalidArgumentError (see above for traceback): CPU BiasOp only supports NHWC.
         [[Node: text_box_300/conv1/conv1_1/BiasAdd = BiasAdd[T=DT_FLOAT, data_format="NCHW", _device="/job:localhost/replica:0/task:0/cpu:0"](text_box_300/co
nv1/conv1_1/convolution,

[2017-08-17 15:06] xiaodiu2010 commented on #15
you are trying to use NHWC format on cpu which is illegal.

[2017-08-18 15:48] xiaodiu2010 commented on #15
Actually, you don't need to modify anything. If you have GPU support , you can run eval.py like this:
CUDA_VISIBLE_DEVICES=4 setsid python eval.py \
    --eval_dir=${EVAL_DIR} \
    --dataset_dir=${DATASET_DIR} \
    --checkpoint_path=${CHECKPOINT_PATH} \
    --wait_for_checkpoints=True \
    --batch_size=1 \
    --gpu_memory_fraction=0.02 \
    --use_batch=False \

[2017-08-21 07:03] clgocn commented on #15
Thank you very much for your reply, beacuse my computer only have a gpu，so I have the mistake。
Now I need to visualize the box in the image, I do not know which code is in the files?

[2017-08-21 12:04] clgocn opened #16 "I can't print the prediction in eval.py?"
I wan't to print the predicitions values in the eval.py, but the result do not show。
`		with slim.arg_scope(arg_scope):
			localisations, logits, end_points  = \
				net.net(b_image, is_training=False, use_batch=FLAGS.use_batch)
		predictions = []
		for i in range(len(logits)):
			predictions.append(slim.softmax(logits[i]))
                        print(predictions)`

[2017-08-27 07:38] Tian14267 opened #17 "I get the error : "CPU BiasOp only supports NHWC.""
I train your code and I get this error :
" ..........
 InvalidArgumentError (see above for traceback): CPU BiasOp only supports NHWC.
	 [[Node: text_box_300/conv1/conv1_1/BiasAdd = BiasAdd[T=DT_FLOAT, data_format="NCHW", _device="/job:localhost/replica:0/task:0/cpu:0"](text_box_300/conv1/conv1_1/convolution, text_box_300/conv1/conv1_1/biases/read)]] "
I use only cpu to train .I have no gpu .Can yo

[2017-08-28 02:19] Tian14267 commented on #17
what I am run is "Textbox_train.py"

[2017-08-29 04:46] Tian14267 commented on #15
@clgocn I also meet the same error in Textbox_train.py. I don't have GPU. Do you know how to train it in CPU in right way?

[2017-09-03 03:59] xiaodiu2010 commented on #15
@Tian14267  You better have a GPU or use Cloud Service like AWS. Or it would take months training...

[2017-09-04 07:10] Tian14267 opened #18 "Negative dimension size caused by subtracting 3 from 1 for 'text_box_300/global/conv3x3/convolution' (op: 'Conv2D') with input shapes: [4,1,3,128], [3,3,128,256]."
I run your code " Textbox_train.py"，but I get that error.I don't understand how it happened .The error is here:

Traceback (most recent call last):
  File "/home/tian/tensorflow/example/TextBoxes-TensorFlow-master/Textbox_train.py", line 407, in <module>
    tf.app.run()
  File "/home/tian/.local/lib/python3.5/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sy

[2017-09-04 07:31] xiaodiu2010 commented on #18
@Tian14267  b_image has the wrong shape. I guess you try to transpose b_image into HCWH format somewhere but didn't consider the first dimension properly.

[2017-09-04 10:08] Tian14267 commented on #18
The data_format that I use is NHWC. Because when I use HCHW, it said " CPU BiasOp only supports NHWC." .And here I don't understand the shape in convolution,like [4,1,3,128]. I see into your cord, the input of image is [4,3,300,300],but after 10 conv,the shape become [4,1,3,256],this I also don't know why. (include every number in the shape). PS: the only I change is data_format "NHWC" ,and I have

[2017-09-04 10:09] Tian14267 commented on #18
@xiaodiu2010

[2017-09-04 16:44] xiaodiu2010 commented on #18
@Tian14267  Try this, change the following line in load_batch.py
image, glabels, gbboxes,num = \
		txt_preprocessing.preprocess_image(image,  glabels, gbboxes, height, width,									out_shape,use_whiten=FLAGS.use_whiten,is_training=is_training)
into
image, glabels, gbboxes,num = \
		txt_preprocessing.preprocess_image(image,  glabels, gbboxes, height, width,											out_shape,use_whiten=FLAGS.us

[2017-09-05 07:37] Tian14267 commented on #18
@xiaodiu2010 It is Ok now. Thank you very much. But I still want to ask ,what are the numbers  in [4,3,300,300] and [4,1,3,256] mean? Or do you have the corresponding paper for your code ?

[2017-09-05 20:14] xiaodiu2010 commented on #18
@Tian14267  This is the [paper](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0ahUKEwilv4jY7Y7WAhUn6IMKHZK_DbEQFggsMAE&url=https%3A%2F%2Farxiv.org%2Fabs%2F1611.06779&usg=AFQjCNEBXmDwhW3KkWP5EdAhoP99WDF68g) link

[2017-09-11 16:11] rmmal opened #19 "Format of the labels"
I have a custom  dataset , and i want to train my own model

Tell me what is the format of annotations so i can be able to train it ?

[2017-09-11 16:37] xiaodiu2010 commented on #19
@rmmal  you can follow the format in data2record. The pipeline may be different according to your data. But all records have the same format defined in _covert_to_example.

[2017-09-12 13:44] rmmal opened #20 "Error when starting to train"
this error appears before starting the training
InvalidArgumentError (see above for traceback): slice index -1 of dimension 0 out of bounds.

what do u think the problem is ?

some of the log:

INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
2017-09-12 15:41:48.471850: W tensorflow/core/framework/op_kernel.cc:1192] Invalid argument: slice in

[2017-09-12 13:52] rmmal commented on #19
shall i make all the dataset ~10k image into 1 .tfrecord ?

[2017-09-12 17:03] xiaodiu2010 commented on #20
It means some images have no positive anchors.  The variable is Null. So larger your batch size.

[2017-09-14 06:29] Tian14267 commented on #18
@xiaodiu2010 Thank you very much

[2017-09-18 20:32] tumusudheer opened #21 "Training on NCHW and testing on NHWC"
Hi @xiaodiu2010 ,

I've trained my network using NCHW format on GPUs. I did freeze the graph and tested on GPU and getting good results. But I'm getting an error when I want to use the same graph to test on CPU, may be because CPU doesn't support NCHW. Is it possible to convert my graph trained on GPU so that it works (to test) on CPU also ?

I also retrained using NHWC format using GPUs ( by spec

[2017-09-19 00:04] tumusudheer commented on #21
Not sure what I'm doing wrong because my trained graph with NHWC is not working as the one trained using NCHW.  Do I need to assign any other flags apart from data_format = 'NHWC' in Textbox_train.py

I'm finetuning from vgg_16 checkpoint when training for CPU with NHWC format. Do I need to find a trained vggnet in NHWC format when training using NHWC format ? Or can I use the same vgg_16 pre-trai

[2017-09-19 00:26] xiaodiu2010 commented on #21
The pre-train model is irrelative to format. Can u give me more details. Are there any bugs? error info？

[2017-09-19 01:13] tumusudheer commented on #21
Hi @xiaodiu2010,

I've trained the model using GPUS with NSHW format and when I tested the model, I'm getting good results using the test_image.py scipt
[test_image.py.txt](https://github.com/xiaodiu2010/TextBoxes-TensorFlow/files/1312705/test_image.py.txt)

When I want to test the same code on a machine that has only CPU, I'm getting error that NCHW operations are not permitted on CPUs.

There ar

[2017-09-19 01:16] xiaodiu2010 commented on #21
Sure, You can train your model on GPU using NHMC format. And this is can be tested on cpus.

[2017-09-19 01:24] tumusudheer commented on #21
Hi @xiaodiu2010,

I did train the model using NHWC format on GPUS twice. The results are not at all looking good. The Model is having loss ~ 4 even at 220k iterations. So I stopped and tested with 220k model twice. Both times the results not even comparable to the model I got trained with NCHW format. Any thoughts on why you think I'm not getting good results when I trained on NHWC format on GPUs

[2017-09-19 03:02] xiaodiu2010 commented on #21
So interesting. Did you use batch norm?

[2017-09-19 03:55] tumusudheer commented on #21
Hi @xiaodiu2010 ,

Yeah I'm using batch_norm. Here is the command I'm using to run the training:

[code]

I'm using the vgg16 downloaded from here: [http://download.tensorflow.org/models/vgg_16_2016_08_28.tar.gz](http://download.tensorflow.org/models/vgg_16_2016_08_28.tar.gz). Do I need to finetine from a vgg checkpoint trained model that has been trained with NHWC format ?

Also, in your previous

[2017-09-19 04:11] xiaodiu2010 commented on #21
Sorry for that. This is a bug.  Try this, change the following line in load_batch.py
image, glabels, gbboxes,num =
txt_preprocessing.preprocess_image(image, glabels, gbboxes, height, width, out_shape,use_whiten=FLAGS.use_whiten,is_training=is_training)
into
image, glabels, gbboxes,num =
txt_preprocessing.preprocess_image(image, glabels, gbboxes, height, width, out_shape,use_whiten=FLAGS.use_whiten

[2017-09-19 04:21] tumusudheer commented on #21
Hi @xiaodiu2010 ,

I've already made that change in load_batch.py
[code]

was the code I used for my training.  This is the only change I've made. Do I need to change any other part of the code or do modification ?

[2017-09-30 02:23] tumusudheer commented on #21
Hi @xiaodiu2010 ,

I started debugging the problem and I found one issue here:[https://github.com/tumusudheer/TextBoxes-TensorFlow/blob/master/nets/txtbox_300.py#L288]( https://github.com/tumusudheer/TextBoxes-TensorFlow/blob/master/nets/txtbox_300.py#L288)

When you invoke batch_norm, the data_format param is not being passed, so this condition is becoming true,  always data_format is being passe

[2017-09-30 03:08] xiaodiu2010 commented on #21
@tumusudheer I don't think this is the issue, the data format is included in arg_scope method. And this method includes slim.conv2d already.  This issue occurs someplace I try to do some transpose or other operation which only supports HCWH, I think. Have you tried to train with NHWC format without batch norm ?

[2017-09-30 04:31] tumusudheer commented on #21
Hi @xiaodiu2010 ,

I just started debugging why the model with NHWC was not working for me as it was with NCHW. Just wanted to let you know about this issue as the params_shape is being defined by the data_format here:
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/layers/python/layers/layers.py#L315](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib

[2017-10-02 22:29] xiaodiu2010 commented on #21
@tumusudheer  try add `slim.batch_norm` in ssd_arg_scope method,
` with slim.arg_scope([custom_layers.pad2d,
                                 custom_layers.l2_normalization,
                                 custom_layers.channel_to_last,
                                 slim.batch_norm],
                                data_format=data_format) as sc:`
and how about your result without batch_norm?

[2017-10-03 02:33] tumusudheer commented on #21
Hi @xiaodiu2010,

I've changed the ssd_arg_scope method as per your suggestion. I couldn't run training without batch_norm with NHWC format over the weekend. I just started training without batch_norm.
Here is the command I've used:
[code]
let me know if there is anything wrong in the command to train without batch_norm. Of course, I've changed the data_format to NHWC in Textbox_train.py

Also, I

[2017-10-05 00:48] tumusudheer commented on #21
Hi @xiaodiu2010 ,

I was able to figureout to restore a checkpoint that has trained on NCHW with the model that takes NHWC as input. Now I can train using NCHW on GPUs and can run the graph on CPU with NHWC. The batch_norm not being added to the arg_scope is the issue. But when I added batch_norm to the arg_scope, the training is converging very slowly, not sue why though.

A couple of quick quest

[2017-10-05 22:12] tumusudheer commented on #21
Hi @xiaodiu2010 ,

can you please let me know what should be the gradient weights for tensors in multiplier_700.pkl file ? I can get the name of tensors and use your multiplier_300.pkl as reference, but may I know how to calculate the values for gradient multipliers in multiplier_700.pkl ?

Thanks in advance !!!

[2017-10-05 22:18] xiaodiu2010 commented on #21
@tumusudheer
About the multi-scales, as mentioned in the paper, you can just train your model on 300 scale level and use it to inference on 700 scale.  Cause ssd is a fully convolutional network. Also you may try to fine tune your 300 model on 700 level by frozen all layers except textbox layer.

About the gradient_multiplier values,  I used the original ones in ssd prototxt file in [here](https:/

[2017-10-05 23:32] tumusudheer commented on #21
Hi  @xiaodiu2010 ,

Thank you very much. I'll go through the original ssd prototxt you linked to get gradient_multiplier values. To fine tune my 300 model with 700 level, These are the following steps I'm going to follow, please let me know if I'm doing it in a right way:
1. Get list of all tensors being prepared in [https://github.com/xiaodiu2010/TextBoxes-TensorFlow/blob/master/nets/txtbox_300.p

[2017-10-05 23:37] xiaodiu2010 commented on #21
@tumusudheer
you can list all trainable_scopes. But it will be a long list. instead, you can just assign 0 learning multiplier on those variables you don't want to train again. So those variables won't be updated.
`checkpoint_model_scope` should equal to the scope name in checkpoint you used. In this case, it is `text_box_300`

[2017-10-06 01:19] tumusudheer commented on #21
Hi @xiaodiu2010 ,

Thank you very much. You mean set gradient_multipliers for the tensors which  we do not train to zero [here](https://github.com/xiaodiu2010/TextBoxes-TensorFlow/blob/master/Textbox_train.py#L331)  ? May I know How do I mention learning_rate to be zero for variables we do not want to train. I found the following two ways, do you recommend any one of the following:

1. Use tf.vari

[2017-10-06 02:12] xiaodiu2010 commented on #21
You don't need to change graph.Just set the multiplier to 0 for some variables, then those variables won't be trained.  learning_rate * 0 = 0(no update)

[2017-10-08 05:34] tumusudheer commented on #21
Hi @xiaodiu2010 ,

Thank you very much for your reply and Sorry for my late reply. When you mentioned to fine tune 300 model on  700 level, you have asked me to pass text_box_700 value for parameter [here](https://github.com/xiaodiu2010/TextBoxes-TensorFlow/blob/master/Textbox_train.py#L160) which will eventually make the input images resized to 700 X 700 scale. After the training I'll have a 700

[2017-10-08 19:09] tumusudheer opened #22 "Using model trained on 300 net to do inference on 700X700 image is causing Error"
Hi @xiaodiu2010 ,

As per your suggestions, I'm trying to use my trained on 300 net model to do test/inference on 700X700 scale image, but getting the following error.
[code]

This is the code I've used, please let me know if I'm doing anything wrong:

[code]
Error is coming at the restore step. Also I printed end_points being created for when I created 300 net with 700 scale input:
`{'global': <t

[2017-10-10 02:31] tumusudheer commented on #22
Hi @xiaodiu2010 ,

Did you try running your 300 model (with batch_norm) to test on 700 image scale ? I'm getting the above error when I tried my trained 300 model with batch_norm enabled.

Thank you.

[2017-10-10 03:04] xiaodiu2010 commented on #22
I can't tell the reason. The weights shouldn't include tensor which length equals to 6 or 3. Can you print all weights info?

[2017-10-10 03:39] tumusudheer commented on #22
Hi @xiaodiu2010 ,

Please find the attached file that contains shapes of all tensors from my checkpoint file (trained 300 net with batch_norm).
[inspect_log.txt](https://github.com/xiaodiu2010/TextBoxes-TensorFlow/files/1370504/inspect_log.txt)

Also, The shapes of the tensors are as follows:

`{'text_box_300/conv10_box/conv_loc/BatchNorm/gamma/Momentum': [3], 'text_box_300/conv3/conv3_2/biases':

[2017-10-10 04:10] xiaodiu2010 commented on #22
Hmm, this is a serious bug! I think this batch norm is applied on last  dim(last dim is not depth if format is NCHW). This is totally wrong.  The reason is [slim.conv2d](https://github.com/tensorflow/tensorflow/blob/9ff05e9e7f471a8487cdd8a7bb6fdd554055e2dd/tensorflow/contrib/layers/python/layers/layers.py#L1042) didn't pass format to BN automatically. So you need to define format in batch norm par

[2017-10-10 04:32] tumusudheer commented on #22
Hi @xiaodiu2010 ,

You were right, slim.conv2d is not passing data format to fused_batch_norm for some reason. So even when we trained the model on NCHW, the BN layer is taking data as NHWC which is why I had problems when I'm restoring NCHW trained checkpoint to the same model when instantiated with NHWC.

So to make my NCHW checkpoint worked with NHWC, I  was able to hack tensorflow code and har

[2017-10-10 20:56] tumusudheer commented on #22
hi @xiaodiu2010 ,

I ran training (using synth data) on 300 net with NHWC format without batch_norm and at 96 k iterations, I'm getting 57% on ICDAR 2013 test data. With my trained 300 net, I was able to run inference on 700 X 700 image with a small code change (need to change feat_shapes [here](https://github.com/xiaodiu2010/TextBoxes-TensorFlow/blob/master/nets/txtbox_300.py#L67) to [(88, 88), (

[2017-10-12 08:05] LouisRuan commented on #19
gt.mat is matlab file?How should i modify it to train my dataset?

[2017-11-02 05:58] niluanwudidadi opened #23 "problem about data preparation"
I have download the  sythtext data, but  when I extract this zip file, I can't find gt.mat file. Can anyone give me a link or email to me or any other way, Thanks. My email is m18205655310@163.com

[2017-11-03 03:36] hellotf commented on #21
@tumusudheer Have you known how to get multiplier_700.pkl already? I've trained 300*300 net on my own dataset, however the result is not good enough.

[2017-11-09 05:54] lipond opened #24 "How about vertical texts or slant texts?"
Could TextBoxes work for vertical texts or slant texts, especially for Chinese？

[2017-11-10 06:38] xuqingquan789 opened #25 "Error when starting to run eval.py"
Traceback (most recent call last):
  File "eval.py", line 281, in <module>
    tf.app.run()
  File "/workspace1/xqq/anaconda3/envs/py2/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "eval.py", line 127, in main
    shuffe = FLAGS.shuffle_data)
  File "/workspace1/xqq/Project/TextBoxes-TensorFlow/load_bat